    body {
        padding: 0px;
    }

    .hea {
        background-image: url(../img/back.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        opacity: 1;

    }

    .menu {
        
        color: #fff;
        height: 60px;
        line-height: 40px;
        letter-spacing: 1px;
        max-width: 100%;
    }

    .menu-padding {
        padding-top: 10px;
    }

    .menu li {
        display: inline-block;
        text-align: top;
        padding: 20px;
        font-size: 30px;
        margin-bottom: 5px;
    }
    .container {
        text-align: center;
        align-content: center;
    }

    .button {
        background-color: #39751A;
        font-size: 20px;
        width: 100px;
    }

    .font {
        font-size: 30px;
    }

    .big {
        color: white;
        font-family: fantasy;
        font-size: 25px;
    }
    .overlay {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.6);
    overflow-x: hidden;
    color: white;
    
}
.sectionone{
    background-color: green;
}
.apply{
    background-image: url(../img/register.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        max-width: 100%;
        opacity: 1;
}
.color{
    color: white;
    font-size:18px;
}

