.hea {
    background-image: url(../img//kiptulwa-1-620x330.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
    opacity: 0.6;
}

.menu {
    background-color: #00a;
    color: #fff;
    height: 40px;
    line-height: 40px;
    letter-spacing: 1px;
    max-width: 1100;
}

.menu-padding {
    padding-top: 10px;
}

.menu li {
    display: inline-block;
    text-align: center;
    padding: 10px;
}

.background {
    background-image: url(../img/Longisa-Hospital.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100%;
}

.container {
    text-align: left;
    align-content: left;
}
