<!doctype html>
<html class="no-js" lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>County Development Funds</title>
    <link rel="stylesheet" href="../static/css/foundation.min.css">
    <link rel="stylesheet" href="../static/css/app.css">
    <script src="../static/js/app.js"></script>

</head>

<body class="register">
    <div class="row "> <hr>
           {% if current_user.is_authenticated %} {{ current_user.name }}{% endif %}
                        <div class="large-12 columns">

                            <div class="large-2 columns">
                                <br>
                            </div>

                            <div class="large-8 columns form">
                                   <h4>STEP 2</h4>
{% for message in get_flashed_messages() %} {{ message }} {% endfor %}
                                <br>
                                {% from "_formhelpers.html" import render_field %}
                                <form class="form-apply" role="form" method="post" action="">
                                      {{ form.csrf_token }}
                                            <p><span class="error">
                                          {% if form.county.errors %}
                                            {% for error in form.county.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.county(placeholder="Your home county ") }}

                                      </p>
                                                <p><span class="error">
                                          {% if form.constituency.errors %}
                                            {% for error in form.constituency.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.constituency(placeholder="home constituency ") }}

                                      </p>

                                                    <p><span class="error">
                                          {% if form.ward.errors %}
                                            {% for error in form.ward.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.ward(placeholder="home ward ") }}

                                      </p>
                                     <p><span class="error">
                                          {% if form.location.errors %}
                                            {% for error in form.location.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.location(placeholder="your home location") }}

                                      </p>
                                     <p><span class="error">
                                          {% if form.slocation.errors %}
                                            {% for error in form.slocation.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.slocation(placeholder="your sub-location") }}

                                      </p>
                                     <p><span class="error">
                                          {% if form.village.errors %}
                                            {% for error in form.village.errors %}
                                              <span class="errorr"> {{ error }}</span>
                                            {% endfor %}
                                          {% endif %}
                                        </span>
                                      {{ form.village(placeholder="Your village") }}

                                      </p>

                                      <button class="btn btn-sm btn-success" type="submit">Save</button>
                                    </form>
                            </div>
                            <div class="large-2 columns">
                                <br>
                            </div>
                        </div>
                </div>
            <script src="js/vendor/jquery.js"></script>
            <script src="js/vendor/what-input.js"></script>
            <script src="js/vendor/foundation.js"></script>
            <script src="js/app.js"></script>
</body>

</html>

